:root {
    --background-color: white;
    --text-color: #282c34;
    --link-color: white;
    --divider-color: black;
    --footer-bg-color: white;

}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #282c34;
        --text-color: white;
        --link-color: #282c34;
        --divider-color: black;
        --footer-bg-color: white;
    }
}


body {
    font-family: Arial, sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}


.Layout-Title, .Layout-Title-Footer {
    font-weight: bold;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    text-decoration: none;
    padding: 10px;
}

.Layout-Title{
    padding-left: 20px;
    padding-right: 20px;
    color: var(--text-color);
}

.Layout-Title-Footer {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    color: var(--background-color);
}

.NavBar-Container {
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}
.NavBar-Container-Inner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.NavBar-Mobile{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
}

.nav-links {
    display: flex;
    align-items: center;
}

.footer-container {
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: var(--background-color);
    background-color: var(--text-color);
    padding: 20px 0;
}

.copyright{
    text-align: center;
    font-size: calc(1vmin);
}

.Layout-Link, .footer-item {
    justify-content: center;
    text-decoration: none;
    padding: 5px;
    margin: 10px;
    background-color: transparent;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.footer-item{
    color: var(--background-color);
    font-size: calc(1.5vmin);
}

.Layout-Link{
    font-weight: bold;
    font-size: calc(2vmin);
    color: var(--text-color);
}

.footer-row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Layout-Link:hover, .footer-item:hover {
    background-color: var(--link-color-hover);
}


.vertical {
    width: 0.5px;
    height: 30px;
    border-color: var(--text-color);
    background-color: var(--text-color) ;
    color: var(--text-color); 
    margin: 0 10px; 
}


.hr {
    visibility: hidden;
}

.hr-grey, .hr-grey-smaller {
    background: #ccc;
}

.hr-grey-bigger {
    width: 70%;
}
.hr-grey {
    width: 60%;
}

.hr-grey-smaller {
    width: 50%;
}

.hamburger {
    display: flex;
    align-items: center; 
    margin-left: auto;
    cursor: pointer;
}


.hamburger-icon {
    width: 35px;
    height: 3px; 
    color: var(--text-color);
    background-color: var(--text-color);
    margin: 6px 0;
}

/* Footer contact info */
.contact-info {
    font-size: calc(1.5vmin);
    margin: 6px;
    text-align: center;
}
