:root {
  --background-color: white;
  --text-color: #282c34;
  --link-color: white;
  --divider-color: black;
  --footer-bg-color: white;

}

@media (prefers-color-scheme: dark) {
  :root {
      --background-color: #282c34;
      --text-color: white;
      --link-color: #282c34;
      --divider-color: black;
      --footer-bg-color: white;
  }
}

.bm-burger-button {
  align-items: center;
  justify-content: center;
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: 15px;
  width: 20px;
  height: 20px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: var(--text-color);
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: grey;
}

.bm-cross-button {
  right: clamp(44px, calc(4vmin), 100px) !important;
  top: calc(4vmin) !important;        
  z-index: 1;  
}

/* Style for the cross itself */
.bm-cross {
  width: 3px !important;
  height: 18px !important;
  background: var(--background-color);
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  text-align: right;
  height: 100%;
  top: 0;
}

/* General sidebar styles */
.bm-menu {
  background: #bfc1c9;
  padding: 3.5em 1.5em 0;
  font-size: clamp(14px, calc(1.5vmin), 24px);
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
  padding-top: 15px;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.menu-item{
  justify-content:center;
  font-size: calc(2vmin);
  color: #282c34;
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
  margin: 10px;
}

.hr{
  width: 2px;
  height: 100%;
  margin: 10px;
  color: black;
  background-color: black;
}
